.background{
    -fx-background-color: #fff;
}

.root{

}

.battery {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-margin-left: auto;
    -fx-margin-right: auto;
    -fx-position: relative;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.battery-level {
    -fx-background-color: #666;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.battery-level.high {
    -fx-background-color: #66CD00;
}
.battery-level.medium {
    -fx-background-color: #FCD116;
}
.battery-level.low {
    -fx-background-color: #FF3333;
}

.battery-text {
    -fx-border: transparent;
    -fx-background-color: transparent;
}

.disable-buttons {
    -fx-opacity: 1.0;
}